/* ========================================================= Main ===*/
html, body{
  background-color: #f7f7f7;
}
.container{
  padding: 30px 0;
}
/* ========================================================= Intro ===*/
#intro{
  background-color: #f2edd4;
  background-image: url("/img/pattern.png");
  border-bottom: 1px solid #d9d4bf;
  box-shadow: 0 1px 0 #fff;
}
#intro h1{

}
/* ========================================================= Features ===*/
.features {
    color: #5A5A5A;
    text-align: center;
}
.features .features-byline {
    color: #999999;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 40px;
}
.features h1 {
  font-family: 'homestead_regularregular';
    font-weight: 300;
}
.features-img {
    display: block;
    margin: 0 auto 30px;
    max-height: 145px;
}
.features h2 {

    margin-bottom: 5px;
}
.features p {
    font-size: 16px;
    line-height: 1.5;
}
/* ========================================================= Utilities ===*/
img{
  height: auto;
  max-width: 100%;
}
